[user]
	name = Adrian Fernandez Garcia
	email = tracker086@outlook.com

[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[credential "https://dev.azure.com"]
	useHttpPath = true
